
<style>
#z2m-devlog td,#z2m-devlog th{word-break:break-word;vertical-align:top;font-size:13px;}
#z2m-devlog td span{white-space:pre-wrap;word-break:break-word;}
@media (max-width:768px){#z2m-devlog td,#z2m-devlog th{font-size:12px;padding:4px;}}
</style>
<div id="z2m-devlog" class="table-responsive">
<table width=100% class="table table-striped">
<thead>
<tr>
 <th>TOPIC</th>
 <th><#LANG_DATA#></th>
 <th><#LANG_ADDED#></th>
</tr>
</thead>
<tbody>
[#begin LOG2#]
<tr>
 <td>
[#TITLE#]
 </td>
 <td>
<span  title="Type: [#TYPE#] Topic:[#TITLE#]">[#MESSAGE#] </span>

</td>

 <td>[#FIND#] </td>


<!--
<table border =0 width=100%><tr><td>
[#TITLE#]</td>
<td align="left">
[#if POWER_WARNING<>""#]
<span class="label label-[#POWER_WARNING#]"><i class="glyphicon glyphicon-flash"></i> [#BATTERY#]%</span>
[#endif#]
</td></tr></table>



</b>
</a>
-->


</tr>
[#end LOG2#]
</tbody>
</table>
</div><!-- /#z2m-devlog -->
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_mqtt">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->

[#endif DEVICES#]
<!-- / results -->
</td></tr></table>

<hr>

<br>

 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
 <a href="?view_mode=cleardevicelog&id=[#ID#]" class="btn btn-default">Очистить</a>
<br>
