

<style>
#z2m-mdlog td,#z2m-mdlog th{word-break:break-word;vertical-align:top;font-size:13px;}
#z2m-mdlog td span{white-space:pre-wrap;word-break:break-word;}
@media (max-width:768px){#z2m-mdlog td,#z2m-mdlog th{font-size:12px;padding:4px;}}
</style>
<div id="z2m-mdlog" class="table-responsive">
<table width=100% class="table table-striped" >
<thead>
<tr>
 <th>TOPIC</th>
 <th>MESSAGE</th>
 <th><#LANG_ADDED#></th>
</tr>
</thead>
<tbody>
[#begin LOG2#]
<tr>
 <td>[#TITLE#]</td>
 <td><span  title="Type: [#TYPE#] Topic:[#TITLE#]">[#MESSAGE#] </span></td>
 <td width="10%">[#FIND#] </td>
</tr>
[#end LOG2#]
</tbody>
</table>
</div><!-- /#z2m-mdlog -->
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_mqtt">

<!-- / search results (list) -->
<!-- paging -->

<!-- / paging -->



 <a href="?view_mode=clearlog" class="btn btn-default">Очистить</a>
<!-- / results -->
</td></tr></table>

<hr>


